{% extends 'base.html' %}
{% block app_content %}
    {% if current_user.is_authenticated %}
        <h1>
         <img src="{{url_for('static', filename='logo.jpg') }}"
                     height="100" width="100" alt="logo" loading="lazy" style=" border-radius: 50%;">
            Hi {{ current_user.username }}!</h1>
        <h2>Quote for today: </h2>
        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
            <i>{{ quote }}</i></h3>
        <h2>Tip for today:</h2>
        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
            {{ tip_header }}: </h3>
        <ul><h4><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg>
            {{ tip_body }}</h4></ul>
    {% else %}
        <h1>
        <img src="{{url_for('static', filename='logo.jpg') }}"
             height="100" width="100" alt="logo" loading="lazy" style=" border-radius: 50%;">
        Welcome to fitatu!</h1>
        <h2>What is fitatu?</h2>
        <h3>Fitatu is a place where you can manage all things related to a fit lifestyle. We gather in one
        app things like: </h3>
        <h4>
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg> BMI, BMR and TER calculators so you can start by calculating your needs and adjust your diet to it. <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> Food tracker for controlling how much calories, proteins, fats and carbs you have eaten during a day. <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> Shopping lists. <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> Menu planner <br>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> My fridge where you can see what products do you have and when is their expire date.<br>
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="RGB(203,141,153)" class="bi bi-heart-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg> Workouts planner
        </h4>
        <h3 class="index"><a href="{{ url_for('auth.register') }}">Create an account</a> or
            <a href="{{ url_for('auth.login') }}">login </a> to get acces to all the features. </h3>
    {% endif %}
{% endblock %}