{% extends 'base.html' %}
{% block app_content %}
    <h1>Add product to {{ list.name }} list</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

       <table>
          <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Check</th>
              <th>Delete</th>
          </tr>
           {% for product in products %}
               <tr>
               {% if product.status==True %}
               <td>{{ product.name }}</td>
               <td>{{ product.quantity }}</td>
               {% else %}
               <td><strike>{{ product.name }}</strike></td>
                   <td><strike>{{ product.quantity }}</strike></td>
                   {% endif %}
               <td>
                   <a href="{{ url_for('list.move_to_bought', id=product.id) }}">Check</a>
                </td>
               <td><a href="{{ url_for('list.delete_product', id=product.id) }}">Delete</a></td>
              {% endfor %}
          </tr>
       </table>

{% endblock %}