{% extends 'base.html' %}
{% block app_content %}
    <h1>Search for product:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
    <p>
        {{ form.submit }}
    </p>
    </form>

    <h1>Products info:</h1><br>
    <table>
    <tr>
        <th>Name</th>
        <th>Proteins</th>
        <th>Carbs</th>
        <th>Fats</th>
        <th>Calories</th>
    </tr>
        {% for food in food %}
    <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.proteins }}</td>
            <td>{{ food.carbs }}</td>
            <td>{{ food.fats }}</td>
            <td>{{ food.calories }}</td>
      {% endfor %}
    </tr>
    </table>
<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a style="color: rgb(127,196,196);" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&lArr;</span>
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a style="color: rgb(127,196,196);" href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&rArr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <h4>Cant find what you are looking for? <a href="{{ url_for('food.add') }}">Add product to our database.</a></h4>
 {% endblock %}