{% extends 'base.html' %}
{% block app_content %}
    <h1> {{ current_user.username }}'s workout plan:</h1><br>
    <table>
        <tr>
            <th></th>
            <th>
                Monday <br>
                {{ week['monday'] }}<br>
                {% if monday_plan %}
                {% for plan in monday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['monday'])}}">ADD</a>
                {% endif %}
            </th>
            <th>
                Tuesday <br>
                {{ week['tuesday'] }}<br>
                {% if tuesday_plan %}
                {% for plan in tuesday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['tuesday'])}}">ADD</a>
                {% endif %}
            </th>
            <th>
                Wednesday<br>
                {{ week['wednesday'] }}<br>
                {% if wednesday_plan %}
                {% for plan in wednesday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['wednesday'])}}">ADD</a>
                {% endif %}
            </th>
            <th>Thursday<br>
                {{ week['thursday'] }}<br>
                {% if thursday_plan %}
                {% for plan in thursday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['thursday'])}}">ADD</a>
                {% endif %}
            </th>
            <th>Friday<br>
                {{ week['friday'] }}<br>
                {% if friday_plan %}
                {% for plan in friday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['friday'])}}">ADD</a>
                {% endif %}
            </th>
            <th>Saturday<br>
                {{ week['saturday'] }}<br>
                {% if saturday_plan %}
                {% for plan in saturday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['saturday'])}}">ADD</a>
                {% endif %}
            </th>
            <th>Sunday<br>
                {{ week['sunday'] }}<br>
                {% if sunday_plan %}
                {% for plan in sunday_plan %}
                    <a href="{{ url_for('workouts.delete_workout', id=plan.id) }}">DELETE</a>
                {% endfor %}
                {% else %}
                    <a href="{{ url_for('workouts.add_workout', date=week['sunday'])}}">ADD</a>
                {% endif %}
            </th>
        </tr>
    <tr>
    <th>
         Category
    </th>
        <td>
            {% for plan in monday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
        <td>
            {% for plan in tuesday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
        <td>
            {% for plan in wednesday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
        <td>
            {% for plan in thursday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
        <td>
            {% for plan in friday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
        <td>
            {% for plan in saturday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
        <td>
            {% for plan in sunday_plan %}
            {{ plan.category }}
            {% endfor %}
        </td>
    </tr>
    <tr>
         <th>
           Description
        </th>
         <td>
            {% for plan in monday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
         <td>
            {% for plan in tuesday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
         <td>
            {% for plan in wednesday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
         <td>
            {% for plan in thursday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
         <td>
            {% for plan in friday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
         <td>
            {% for plan in saturday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
         <td>
            {% for plan in sunday_plan %}
            {{ plan.description }}
            {% endfor %}
        </td>
    </tr>

</table>



    <nav aria-label="...">
        <ul class="pager">
            <li class="previous">
                <a style="color: rgb(127,196,196);" href="{{ url_for('workouts.workout_plan', date=yesterday) }}">
                    <span aria-hidden="true"> &larr;</span> Last week
                </a>
            </li>
            <li class="next">
                <a style="color: rgb(127,196,196);" href="{{url_for('workouts.workout_plan', date=tomorrow)}}"> Next week
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

