{% extends 'base.html' %}
{% block app_content %}




    <nav aria-label="...">
        <ul class="pager">
            <li class="previous">
                <a style="color: rgb(127,196,196);" href="{{ url_for('workouts.workout_plan', date=yesterday) }}">
                    <span aria-hidden="true"> &larr;</span> Last week
                </a>
            </li>
            <li class="next">
                <a style="color: rgb(127,196,196);" href="{{url_for('workouts.workout_plan', date=tomorrow)}}"> Next week
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

