{% extends 'base.html' %}

{% block app_content %}
    <table>
        <tr>
            <th></th>
            <th>
                Monday <br>
                {{ week['monday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['monday']) }}">Edit</a>
            </th>
            <th>
                Tuesday <br>
                {{ week['tuesday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['tuesday']) }}">Edit</a>
            </th>
            <th>
                Wednesday<br>
                {{ week['wednesday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['wednesday']) }}">Edit</a>
            </th>
            <th>Thursday<br>
                {{ week['thursday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['thursday']) }}">Edit</a>
            </th>
            <th>Friday<br>
                {{ week['friday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['friday']) }}">Edit</a>
            </th>
            <th>Saturday<br>
                {{ week['saturday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['saturday']) }}">Edit</a>
            </th>
            <th>Sunday<br>
                {{ week['sunday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['sunday']) }}">Edit</a>
            </th>
        </tr>
        <tr>
            <th>Breakfast</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Second breakfast</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Lunch</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Dessert</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Dinner</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

</table>
{% endblock %}
