{% extends 'base.html' %}

{% block app_content %}
    <h1>{{ current_user.username }}'s week menu:</h1>
    <br>
    <table>
        <tr>
            <th></th>
            <th>
                Monday <br>
                {{ week['monday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['monday']) }}">Details</a>
            </th>
            <th>
                Tuesday <br>
                {{ week['tuesday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['tuesday']) }}">Details</a>
            </th>
            <th>
                Wednesday<br>
                {{ week['wednesday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['wednesday']) }}">Details</a>
            </th>
            <th>Thursday<br>
                {{ week['thursday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['thursday']) }}">Details</a>
            </th>
            <th>Friday<br>
                {{ week['friday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['friday']) }}">Details</a>
            </th>
            <th>Saturday<br>
                {{ week['saturday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['saturday']) }}">Details</a>
            </th>
            <th>Sunday<br>
                {{ week['sunday'] }}<br>
                <a href="{{ url_for('shopping.daily_menu', day=week['sunday']) }}">Details</a>
            </th>
        </tr>
        <tr>
            <th>Breakfast</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Second breakfast</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Second breakfast' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Lunch</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Lunch' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Dessert</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Dessert' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Dinner</th>
            <td>
                {% for dish in menu_monday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_tuesday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_wednesday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_thursday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_friday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_saturday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for dish in menu_sunday %}
                    {% if dish.category == 'Dinner' %}
                        {{ dish.name }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
</table>
<nav aria-label="...">
        <ul class="pager">
            <li class="previous">
                <a style="color: rgb(127,196,196);" href="{{ url_for('shopping.week_menu', date=yesterday) }}">
                    <span aria-hidden="true"> &larr;</span> Last week
                </a>
            </li>
            <li class="next">
                <a style="color: rgb(127,196,196);" href="{{url_for('shopping.week_menu', date=tomorrow)}}"> Next week
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
