{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %} Fitatu {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user.is_anonymous %}
                <a class="navbar-brand" href="{{ url_for('profile.index')}}">Fitatu
                </a>
                {% else %}
                <a class="navbar-brand" href="{{ url_for('profile.index')}}">Fitatu
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Calculators <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a href="{{ url_for('calculators.bmi') }}">BMI calculator</a></li>
                            <li><a href="{{ url_for('calculators.bmr') }}">BMR calculator</a></li>
                            <li><a href="{{ url_for('calculators.ter') }}">TER calculator</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Calories <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a href="{{ url_for('food.tracker') }}">Food tracker</a></li>
                            <li><a href="{{ url_for('food.add') }}">Products info</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Shopping <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a href="{{ url_for('shopping.list') }}">Shopping List</a></li>
                            <li><a href="{{ url_for('shopping.fridge') }}">My Fridge</a></li>
                            <li><a href="{{ url_for('shopping.week_menu') }}"> Menu</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Workouts <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a href="{{ url_for('workouts.workout_plan') }}"> Plan</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            {% if current_user.avatar %}
                            <img src="{{url_for('static', filename='avatars/' + current_user.id|string) }}"
                             height="25" width="25" alt="avatar" loading="lazy" style=" border-radius: 50%;">
                                {% else %}
                                <img src="{{url_for('static', filename='avatars/' + 'default.png') }}"
                                height="25" width="25" alt="avatar" loading="lazy" style=" border-radius: 50%;">
                                {% endif %}
                            {{ current_user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a href="{{ url_for('profile.profile_page', id=current_user.id) }}">My profile</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}