{% extends 'base.html' %}

{% block app_content %}
{% if current_user == user %}
    {% if user.avatar %}
    <img src="{{url_for('static', filename='avatars/' + user.id|string) }}"
                height="250" width="250" alt="avatar" loading="lazy" style=" border-radius: 50%;">
        {% else %}
            <img src="{{url_for('static', filename='avatars/' + 'default.png') }}"
                height="250" width="250" alt="avatar" loading="lazy" style=" border-radius: 50%;">
        {% endif %}

    <h1>{{ user.username }}</h1>
            <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
    <div>
    <p>Age: {{ user.age }}</p>
    <p>Height: {{ user.height }}</p>
    <p>Weight: {{ user.weight }}</p>
    <p>Sex: {{ user.sex }}</p>
        <p>PAL: {{ user.pal }}</p>
    </div>

{% endif %}
{% endblock %}
