{% extends "base.html" %}

{% block app_content %}
    <h1>Add product:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.portion.label }}<br>
            {{ form.portion(size=32) }}<br>
            {% for error in form.portion.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('food.add') }}">Add product to database</a>
<h4>
       <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Time <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a href="{{ url_for('food.tracker', time='today') }}">Today</a></li>
            <li><a href="{{ url_for('food.tracker', time='yesterday') }}">Yesterday</a></li>
            <li><a href="{{ url_for('food.tracker', time='tomorrow') }}">Tomorrow</a></li>
        </ul></div></h4>
    <br>
    <table>
  <tr>
      <th>Name</th>
      <th>Portion</th>
      <th>Proteins</th>
      <th>Carbs</th>
      <th>Fats</th>
      <th>Calories</th>
      <th> Delete </th>

  </tr>
        {% for food in portion %}
  <tr>
        <td>{{ food.name }}</td>
          <td>{{ food.portion }}</td>
        <td>{{ food.proteins }}</td>
        <td>{{ food.carbs }}</td>
        <td>{{ food.fats }}</td>
        <td>{{ food.calories }}</td>
            <td>
                <a href="{{ url_for('food.delete', id=food.id) }}">Delete</a>
            </td>
      {% endfor %}
  </tr>
    <tr>
        <td><b>Sum</b></td>
        <td>{{  portion_sum }}</td>
        <td>{{  proteins_sum }}</td>
        <td>{{  carbs_sum }}</td>
        <td>{{  fats_sum }}</td>
        <td>{{  calories_sum}}</td>
    </tr>
    </table>

 {% endblock %}
